<section class="">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Coupon</h3>

                        <form method="post" action="/offerManagement/add-couponOffer" class="px-md-2">

                            <div class="form-outline mb-4">
                                <input type="number" id="" name="discount" class="form-control" />
                                <label class="form-label" for="form3Example1q">Discount Amount</label>
                                <input type="text" id="" name="couponCode" class="form-control" />
                                <label class="form-label" for="form3Example1q">Coupon Code</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <input type="text" value="category" name="offertype" hidden>
                                    <div class="form-outline datepicker">
                                        <input type="date" name="validity" class="form-control"
                                            id="exampleDatepicker1" />
                                        <label for="exampleDatepicker1" class="form-label">Select a date</label>
                                    </div>

                                </div>
                            
                            </div>
                            <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    {{#if coupon}}

    <table style="text-align: center;" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Coupon Code</th>
          <th scope="col">Discount</th>
          <th scope="col">Validity</th>
        
          <th scope="col"></th>
        </tr>
      </thead>
      {{#each coupon}}
      <tbody id="myTable">

        <tr>

          <th scope="row">{{this.couponCode}}</th>
          <td style="color: green;">{{this.discount}}%</td>
          <td>{{this.validity}}</td>
          <td>
            <button class="btn btn-danger"
              onclick="removeCouponOffer('{{this._id}}')">Delete</button>
          </td>

        </tr>


      </tbody>
      {{/each}}
    </table>
    {{else}}
    {{/if}}
  </div>


<style>
  CSS @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
</style>




<script>
  function removeCouponOffer(OfferID) {
    
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this imaginary file!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            url: "/offerManagement/delete-couponOffer",
            type: "POST",
            data: {
              id: OfferID,
            
            },

            success: (response) => {
              if (response.status) {
                location.reload()
                swal("Poof! Your imaginary file has been deleted!", {
                  icon: "success",
                });
              }
            },

          });

        } else {
          swal("Your imaginary file is safe!");
        }
      });
  }
</script>