<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Add Product</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Basic Information</h4>
                            <p class="card-title-desc">Fill all information below</p>

                            <form action="/showProducts/edit/{{product._id}}" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label for="productname" >Product Name</label>
                                            <input id="productname" name="productname" value="{{product.productname}}" type="text" class="form-control"
                                                placeholder="Product Name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="manufacturerbrand">Manufacturer Brand</label>
                                            <input id="manufacturerbrand" name="manufacturerbrand" value="{{product.manufacturerbrand}}" type="text"
                                                class="form-control" placeholder="Manufacturer Brand">
                                        </div>
                                        <div class="mb-3">
                                            <label for="productsize">Size</label>
                                            <input id="productsize" name="productsize" value="{{product.productsize}}" type="text"
                                                class="form-control" placeholder="Size">
                                        </div>
                                        <div class="mb-3">
                                            <label for="productprice">Price</label>
                                            <input id="productprice" name="productprice" value="{{product.productprice}}" type="number" class="form-control"
                                                placeholder="Price">
                                        </div>
                                    </div>

                                    {{!-- <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="control-label">Category</label>
                                            <select name="id" class="form-control select2">
                                                {{#each cattDetails}}
                                                <option onclick="addProduct(event)" value="{{this._id}}">{{this.categoryName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="control-label">Sub Category</label>
                                            <select name="id" class="form-control select2">
                                                {{#each scattDetails}}
                                                <option onclick="function check()">{{this.subCategory}}</option>
                                                {{/each}}
                                            </select>

                                        </div>
                                        <div class="mb-3">
                                            <label for="manufacturerquantity">Quantity</label>
                                            <input id="manufacturerquantity" name="manufacturerquantity" type="text"
                                                class="form-control" placeholder="Quantity">
                                        </div>
                                        <div class="mb-3">
                                            <label for="productdescription">Product Description</label>
                                            <textarea class="form-control" id="productdescription" rows="5"
                                                placeholder="Product Description"></textarea>
                                        </div>

                                    </div> --}}
                                </div>
                                {{!-- <div class="fallback">
                                    <input name="image1" type="file" id="id_img1">
                                    
                                    <img width="100px" height="auto" src="" id="imgView1">
                                    <input name="image2" type="file" id="id_img2">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image2.jpg" id="imgView2">
                                    <input name="image3" type="file" id="id_img3">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image3.jpg" id="imgView3">
                                    <input name="image4" type="file" id="id_img4">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image4.jpg" id="imgView4">
                                </div>

                                <div class="d-flex flex-wrap gap-2">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Save
                                        Changes</button>
                                    <button type="button"
                                        class="btn btn-secondary waves-effect waves-light">Cancel</button>
                                </div> --}}
                                     <div class="fallback">
                                    <input name="image1" type="file" id="id_img1">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image1.jpg" id="imgView1">
                                    <input name="image2" type="file" id="id_img2">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image2.jpg" id="imgView2">
                                    <input name="image3" type="file" id="id_img3">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image3.jpg" id="imgView3">
                                    <input name="image4" type="file" id="id_img4">
                                    <img width="100px" height="auto" src="/product-images/{{product._id}}image4.jpg"id="imgView4">
                                </div>
                                
                                <div class="d-flex flex-wrap gap-2">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="confirm-btn">Save
                                        Changes</button>
                                    <button type="button"
                                        class="btn btn-secondary waves-effect waves-light">Cancel</button>
                                </div>
                                
                            </form>
                              <div class="col-md-5">
                                <div class="form-group">
                                    <div id="image-box" class="image-container"></div>
                                    <button class="btn btn-outline-info" id="crop-btn"
                                        style=" margin-top: 10px; display: none;" type="button">Crop</button>
                                </div>
                             </div>
                        </div>
                    </div>

                    

                    
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Skote.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Themesbrand
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>





<script>
    const imagebox = document.getElementById('image-box')
    // crop-btn is the id of button that will trigger the event of change original file with cropped file.
    const crop_btn = document.getElementById('crop-btn')
    // id_image is the id of the input tag where we will upload the image
    const input = document.getElementById('id_img1')
    const input1 = document.getElementById('id_img2')
    const input2 = document.getElementById('id_img3')
    const input3 = document.getElementById('id_img4')

    var allowedExtensions =
        /(\.jpg|\.jpeg|\.png|\.gif)$/i;

    var filePath = input.value;

    // When user uploads the image this event will get triggered
    input.addEventListener('change', () => {
        if (!allowedExtensions.exec(input.value)) {
            alert('Invalid file type');
            input.value = '';
        }
        else {
            // Getting image file object from the input variable
            const img_data = input.files[0]
            // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
            // The new object URL represents the specified File object or Blob object.
            const url = URL.createObjectURL(img_data)

            // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

            // Storing that cropping view image in a variable
            const image = document.getElementById('image')

            // Displaying the image box
            document.getElementById('image-box').style.display = 'block'
            // Displaying the Crop buttton
            document.getElementById('crop-btn').style.display = 'block'
            // Hiding the Post button
            document.getElementById('confirm-btn').style.display = 'none'

            // Creating a croper object with the cropping view image
            // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
            // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 1 / 1,
                //  preview: '.preview',
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
            })

            // When crop button is clicked this event will get triggered
            crop_btn.addEventListener('click', () => {
                // This method coverts the selected cropped image on the cropper canvas into a blob object
                cropper.getCroppedCanvas().toBlob((blob) => {

                    // Gets the original image data
                    let fileInputElement = document.getElementById('id_img1');
                    // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    // Create a new container
                    let container = new DataTransfer();
                    // Add the cropped image file to the container
                    container.items.add(file);
                    // Replace the original image file with the new cropped image file
                    fileInputElement.files = container.files;
                    console.log(container.files[0])
                    let img = container.files[0]
                    const url = URL.createObjectURL(img)
                    document.getElementById('imgView1').src = url




                    // Hide the cropper box
                    document.getElementById('image-box').style.display = 'none'
                    // Hide the crop button
                    document.getElementById('crop-btn').style.display = 'none'
                    // Display the Post button
                    document.getElementById('confirm-btn').style.display = 'block'

                });
            });
        }
    });



    

    input1.addEventListener('change', () => {
        if (!allowedExtensions.exec(input1.value)) {
            alert('Invalid file type');
            input1.value = '';
        }
        else {
            // Getting image file object from the input variable
            const img_data = input1.files[0]
            // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
            // The new object URL represents the specified File object or Blob object.
            const url = URL.createObjectURL(img_data)

            // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

            // Storing that cropping view image in a variable
            const image = document.getElementById('image')

            // Displaying the image box
            document.getElementById('image-box').style.display = 'block'
            // Displaying the Crop buttton
            document.getElementById('crop-btn').style.display = 'block'
            // Hiding the Post button
            document.getElementById('confirm-btn').style.display = 'none'

            // Creating a croper object with the cropping view image
            // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
            // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 1 / 1,
                //  preview: '.preview',
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
            })

            // When crop button is clicked this event will get triggered
            crop_btn.addEventListener('click', () => {
                // This method coverts the selected cropped image on the cropper canvas into a blob object
                cropper.getCroppedCanvas().toBlob((blob) => {

                    // Gets the original image data
                    let fileInputElement = document.getElementById('id_img2');
                    // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    // Create a new container
                    let container = new DataTransfer();
                    // Add the cropped image file to the container
                    container.items.add(file);
                    // Replace the original image file with the new cropped image file
                    fileInputElement.files = container.files;
                    console.log(container.files[0])
                    let img = container.files[0]
                    const url = URL.createObjectURL(img)
                    document.getElementById('imgView2').src = url




                    // Hide the cropper box
                    document.getElementById('image-box').style.display = 'none'
                    // Hide the crop button
                    document.getElementById('crop-btn').style.display = 'none'
                    // Display the Post button
                    document.getElementById('confirm-btn').style.display = 'block'

                });
            });
        }
    });


    input2.addEventListener('change', () => {
        if (!allowedExtensions.exec(input2.value)) {
            alert('Invalid file type');
            input2.value = '';
        }
        else {
            // Getting image file object from the input variable
            const img_data = input2.files[0]
            // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
            // The new object URL represents the specified File object or Blob object.
            const url = URL.createObjectURL(img_data)

            // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

            // Storing that cropping view image in a variable
            const image = document.getElementById('image')

            // Displaying the image box
            document.getElementById('image-box').style.display = 'block'
            // Displaying the Crop buttton
            document.getElementById('crop-btn').style.display = 'block'
            // Hiding the Post button
            document.getElementById('confirm-btn').style.display = 'none'

            // Creating a croper object with the cropping view image
            // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
            // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 1 / 1,
                //  preview: '.preview',
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
            })

            // When crop button is clicked this event will get triggered
            crop_btn.addEventListener('click', () => {
                // This method coverts the selected cropped image on the cropper canvas into a blob object
                cropper.getCroppedCanvas().toBlob((blob) => {

                    // Gets the original image data
                    let fileInputElement = document.getElementById('id_img3');
                    // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    // Create a new container
                    let container = new DataTransfer();
                    // Add the cropped image file to the container
                    container.items.add(file);
                    // Replace the original image file with the new cropped image file
                    fileInputElement.files = container.files;
                    console.log(container.files[0])
                    let img = container.files[0]
                    const url = URL.createObjectURL(img)
                    document.getElementById('imgView3').src = url




                    // Hide the cropper box
                    document.getElementById('image-box').style.display = 'none'
                    // Hide the crop button
                    document.getElementById('crop-btn').style.display = 'none'
                    // Display the Post button
                    document.getElementById('confirm-btn').style.display = 'block'

                });
            });
        }
    });



    input3.addEventListener('change', () => {
        if (!allowedExtensions.exec(input3.value)) {
            alert('Invalid file type');
            input3.value = '';
        }
        else {
            // Getting image file object from the input variable
            const img_data = input3.files[0]
            // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
            // The new object URL represents the specified File object or Blob object.
            const url = URL.createObjectURL(img_data)

            // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

            // Storing that cropping view image in a variable
            const image = document.getElementById('image')

            // Displaying the image box
            document.getElementById('image-box').style.display = 'block'
            // Displaying the Crop buttton
            document.getElementById('crop-btn').style.display = 'block'
            // Hiding the Post button
            document.getElementById('confirm-btn').style.display = 'none'

            // Creating a croper object with the cropping view image
            // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
            // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 1 / 1,
                //  preview: '.preview',
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
            })

            // When crop button is clicked this event will get triggered
            crop_btn.addEventListener('click', () => {
                // This method coverts the selected cropped image on the cropper canvas into a blob object
                cropper.getCroppedCanvas().toBlob((blob) => {

                    // Gets the original image data
                    let fileInputElement = document.getElementById('id_img4');
                    // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    // Create a new container
                    let container = new DataTransfer();
                    // Add the cropped image file to the container
                    container.items.add(file);
                    // Replace the original image file with the new cropped image file
                    fileInputElement.files = container.files;
                    console.log(container.files[0])
                    let img = container.files[0]
                    const url = URL.createObjectURL(img)
                    document.getElementById('imgView4').src = url




                    // Hide the cropper box
                    document.getElementById('image-box').style.display = 'none'
                    // Hide the crop button
                    document.getElementById('crop-btn').style.display = 'none'
                    // Display the Post button
                    document.getElementById('confirm-btn').style.display = 'block'

                });
            });
        }
    });



    
</script>