<div id="layout-wrapper">


    <!-- ========== Left Sidebar Start ========== -->


    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            {{!-- <div class="container-fluid"> --}}

                <!-- start page title -->
                <div class="row">


                    <table class="table" id="adminTable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email Id</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each userDetails}}
                            <tr class="align-middle">
                                <td></td>
                                <td>{{this.firstName}}</td>
                                <td>{{this.email}}</td>
                                {{#if this.status}}
                                <td>Granted</td>
                                {{else}}
                                <td>Denied</td>
                                {{/if}}
                                <td>

                                    {{#if this.status}}
                                    <a class="btn btn-warning mt-2 " style="width: 5.5rem;"
                                        
                                        onclick="block('{{this._id}}')"
                                        >Block</a>
                                    {{else}}
                                    <a class="btn btn-danger mt-2 " style="width: 5.5rem;"
                                                                                onclick="unblock('{{this._id}}')"
                                        >Unblock</a>
                                    {{/if}}
                                  
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>





<script>

      function block(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/userManagement/block",
                        type: "POST",
                        data: {
                            id:id,          
                        },

                        success: async()=>{
                           
                            await swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                            
                             location.href = '/userManagement'
                        },

                    });

                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }

    function unblock(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/userManagement/unblock",
                        type: "POST",
                        data: {
                            id:id,          
                        },

                        success: async ()=>{
   
                            await swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                            location.href = '/userManagement'
               
                        },

                    });

                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }

     function  sweetAlert() {
       swal({
            title: "Are you sure?",
            text: "Once deleted, user will not be able to access the account!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
         .then((willDelete) => {
                if (willDelete) {
                    swal("User has been deleted!", {
                        icon: "success",
                        
                    });
                } else {
                    swal("Your user is safe!");
                }
            });
    }

</script>