<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>{{title}}</title>
    {{!--
    <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="google-signin-client_id"
        content="266453374438-a1lkh4ckmaqsv88vgbbrf28ijh0tp8li.apps.googleusercontent.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>OUTFITS</title>
    <meta name="description" content="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/stylesheets/plugins.css" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png" />

    {{!--
    <script>src = "https://checkout.razorpay.com/v1/checkout.js"</script> --}}


    <!-- Bootstrap Css -->
    <link href="/stylesheets/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/stylesheets/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/stylesheets/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>

    {{!-- data table --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

{{#if admin}}

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="/admin" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="/images/logo.svg" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="/images/logo-dark.png" alt="" height="17">
                            </span>
                        </a>

                        <a href="/admin" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="/images/logo-light.svg" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="/images/logo-light.png" alt="" height="19">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <div class="app-search d-none d-lg-block">
                        <div class="position-relative mt-3">
                            <input id="myInput" type="text" class="form-control" placeholder="Search...">
                            <span class="bx bx-search-alt"></span>
                        </div>
                    </div>

                    <div class="dropdown dropdown-mega d-none d-lg-block ms-2">


                    </div>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input id="myInput" type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" key="t-menu">Menu</li>

                        <li>
                            <a href="/admin" class="waves-effect">
                                <i class="bx bx-home-circle"></i>
                                <span key="t-dashboards">Dashboard</span>
                            </a>

                        <li>
                            <a href="/orderManagement" class="waves-effect">
                                <i class="bx bx-list-ul"></i>
                                <span key="t-tables">Orders</span>
                            </a>
                        <li>
                            <a href="/userManagement" class="waves-effect">
                                <i class="bx bx-chat"></i>
                                <span key="t-ecommerce">User Management</span>
                            </a>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-store"></i>

                                <span key="t-dashboards">Product Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/showProducts" key="t-default">View Products</a></li>
                                <li><a href="/addProduct" key="t-saas">Add Products</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-task"></i>
                                <span key="t-tasks">Manage Category</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/categoryManagement/viewCategory" key="t-default">View or Delete
                                        Category</a></li>
                                <li><a href="/categoryManagement" key="t-saas">Add Category</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-share-alt"></i>

                                <span key="t-multi-level">Offer Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/offerManagement/add-coupon" key="t-default">Manage Coupons</a></li>
                                <li><a href="/offerManagement" key="t-saas">Manage Category Offers</a></li>
                                <li><a href="/offerManagement/getProductoffer" key="t-saas">Manage Product Offers</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-detail"></i>

                                <span key="t-blog">Banner Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/banner/banner-1" key="t-default">Add Banner1</a></li>
                                <li><a href="/banner/select-banner-1" key="t-saas">View and Select Banner1</a></li>
                                <li><a href="/banner" key="t-default">Add Banner2</a></li>
                                <li><a href="/banner/select-banner" key="t-saas">View and Select Banner2</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-receipt"></i>

                                <span key="t-invoices">Report</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/report" key="t-default">Sales Report</a></li>
                                <li><a href="/report/stock" key="t-saas">Stock Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/logout" class="waves-effect">
                                <i class="bx bx-power-off"></i>
                                <span key="t-logout">Log Out</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->



        {{{body}}}
    </div>

    <!-- JAVASCRIPT -->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/metismenu/metisMenu.min.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/node-waves/waves.min.js"></script>
   

    <script src="/js/app.js"></script>
    <script>
        var addSerialNumber = function () {
            var i = 1
            $('table tr').each(function (index) {
                $(this).find('td:nth-child(1)').html(index);
            });
        };
        addSerialNumber();
    </script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</body>


{{else}}

<body>

    <div class="pageWrapper">
        <!-- Promotion Bar -->
        <div class="notification-bar mobilehide d-none">
            <a href="#" class="notification-bar__message">20% off your very first purchase, use promo code: outfits</a>
            <span class="close-announcement icon an an-times"></span>
        </div>
        <!-- End Promotion Bar -->

        <!-- Search Form Drawer -->
        <div class="search">
            <div class="search__form">
                <form method="post" class="search-bar__form" action="/search">
                    <button class="go-btn search__button" type="submit"><i class="icon an an-search"></i></button>
                    <input class="search__input" type="search" name="item" value=""
                        placeholder="Search for products, brands..." aria-label="Search" autocomplete="off" />
                </form>
                <button type="button" class="search-trigger close-btn" data-bs-toggle="tooltip" data-bs-placement="left"
                    title="Close"><i class="icon an an-times"></i></button>
            </div>
        </div>
        <!-- End Search Form Drawer -->

        <!-- Main Header -->
        <div class="header-section classicHeader clearfix animated hdr-sticky">
            <!-- Desktop Header -->
            <div class="header-1 classic-style">
                <!-- Top Header -->
                <div class="top-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10 col-sm-8 col-md-7 col-lg-4">
                                <div class="currency picker float-start">

                                </div>
                                <div class="language picker float-start">

                                </div>

                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-md-none d-lg-block">
                                <div class="text-center">
                                    <p class="top-header_middle-text">...YOU CAN HAVE ANYTHING YOU WANT IF YOU DRESS FOR
                                        IT...</p>
                                </div>
                            </div>
                      
                            <div
                                class="col-2 col-sm-4 col-md-5 col-lg-4 text-end d-block d-sm-none d-md-none d-lg-none">
                                <!-- Mobile User Links -->
                                <div class="user-menu-dropdown">
                                    {{#if userStatus}}
                                    <a href="/profile"><span class="user-menu"><i class="an an-user-alt"></i></span></a>
                                    {{else}}
                                    <span class="user-menu"><i class="an an-user-alt"></i></span>
                                    <ul class="customer-links list-inline" style="display:none;">
                                        <li class="item"><a href="/signin">Login</a></li>
                                        <li class="item"><a href="/register">Register</a></li>

                                    </ul>
                                    {{/if}}
                                </div>
                                <!-- End Mobile User Links -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Top Header -->

                <!-- Header -->
                <div class="header-wrap d-flex">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-8 d-block d-lg-none">
                                <button type="button"
                                    class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Menu"><i
                                        class="icon an an-times"></i><i class="icon an an-bars"></i></button>
                                <!-- Mobile Search -->
                                <div class="site-header__search d-block d-lg-none mobile-search-icon">
                                    <button type="button" class="search-trigger" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Search"><i
                                            class="icon an an-search"></i></button>
                                </div>
                                <!-- End Mobile Search -->
                            </div>
                            <!-- Desktop Logo -->
                            <div class="logo col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
                                <a href="/">
                                    <h2 style="color: rgba(0, 0, 0, 0.801); font-weight: bold;">OUTFITS</h2>
                                </a>
                             
                            </div>
                            <!-- End Desktop Logo -->
                            <!-- Desktop Navigation mark flag -->
                            <div class="col-2 col-sm-3 col-md-3 col-lg-8 d-none d-lg-block">
                                <!-- Desktop Menu -->
                                <nav class="grid__item" id="AccessibleNav">
                                    <ul id="siteNav" class="d-flex flex-wrap site-nav medium center hidearrow">
                                        {{#each allCategory}}
                                        <li class="lvl1 parent dropdown">
                                            <a href="/sort/{{this._id}}">{{this._id}} <i
                                                    class="an an-angle-down"></i></a>
                                            <ul class="dropdown">
                                                {{#each this.subCategory}}
                                                <li><a href="/sort/{{this}}" class="site-nav">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </nav>
                                <!-- End Desktop Menu -->
                            </div>
                            <!-- End Desktop Navigation -->
                            <!-- Right Side -->
                            <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                                <div class="right-action d-flex-align-center justify-content-end">
                                    <!-- Search -->
                                    <div class="item site-header__search d-none d-lg-block">
                                        <button type="button" class="search-trigger" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Search"><i
                                                class="icon an an-search"></i></button>
                                    </div>
                                    <!-- End Search -->
                                    <!-- User Links signin   -->
                                    <div class="item user-menu-dropdown d-none d-sm-block d-md-block d-lg-block">
                                        {{#if userStatus}}
                                        <a href="/profile"> <span class="user-menu" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom"><i
                                                    class="icon an an-user-alt"></i></span></a>
                                        {{else}}
                                        <span class="user-menu" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Account"><i class="icon an an-user-alt"></i></span>
                                        <ul class="customer-links list-inline" style="display:none;">
                                            <li class="item"><a href="/signin">Login</a></li>
                                            <li class="item"><a href="/register">Register</a></li>

                                        </ul>
                                        {{/if}}
                                    </div>
                                    <!-- End User Links -->
                                    <!-- Wishlist -->
                                    <div class="item site-header-wishlist">
                                        <a href="/wishlist" class="wishlist-trigger" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Wishlist">
                                            <i class="icon an an-heart"></i>
                                        </a>
                                    </div>
                                    <!-- End Wishlist -->
                                    <!-- Minicart -->
                                    {{#if cartProducts}}
                                    <div class="item site-cart" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Cart">
                                        <a href="#" class="site-header__cart btn-minicart" data-bs-toggle="modal"
                                            data-bs-target="#minicart-drawer">

                                            <i class="icon an an-shopping-bag"></i> {{#if length}}<span id="CartCount"
                                                class="site-header__cart-count">{{length}}</span>
                                            {{/if}}
                                        </a>
                                    </div>
                                    {{else}}
                                    <div class="item site-cart" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Cart">
                                        <a href="/cart" class="site-header__cart btn-minicart">

                                            <i class="icon an an-shopping-bag"></i> {{#if length}}<span id="CartCount"
                                                class="site-header__cart-count">{{length}}</span>{{else}}<span
                                                id="CartCount" class="site-header__cart-count">0</span>
                                            {{/if}}
                                        </a>
                                    </div>
                                    {{/if}}

                                    <!-- End Minicart -->
                                </div>
                            </div>
                            <!-- End Right Side -->
                        </div>
                    </div>
                </div>
                <!-- End Header -->
            </div>
            <!-- End Desktop Header -->
        </div>
        <!-- End Main Header -->

        <!-- Mobile Menu -->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon an an-times-circle closemenu"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                {{#each allCategory}}
                <li class="lvl1 parent megamenu">
                    <a href="/sort/{{this._id}}">{{this._id}} <i class="an an-plus"></i></a>
                    <ul>
                        {{#each this.subCategory}}
                        <li><a href="/sort/{{this}}" class="site-nav">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        <!-- End Mobile Menu -->


        <!-- Minicart Drawer -->
        <div class="minicart-right-drawer right modal fade" id="minicart-drawer" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="minicart-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i
                                class="an an-times" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Close"></i></button>
                        <h4 class="modal-title" id="myModalLabel2">Shopping Cart <strong>{{length}}</strong> items</h4>
                    </div>
                    <div class="minicart-body">
                        <div class="empty-cart">
                            <p>You have no items in your shopping cart.</p>
                        </div>
                        <div id="drawer-minicart" class="block block-cart">
                            <ul class="mini-products-list">
                                {{#each cartProducts}}
                                <li id="{{this._id}}{{this.productId}}" class="item">
                                    <a class="product-image" href="/cart"><img
                                            src="/product-images/{{this.productId}}image1.jpg"
                                            alt="Frayed Layered Sleeve" title=""></a>
                                    <div class="product-details">
                                        <a class="remove" onclick="remove('{{this._id}}','{{this.productId}}')"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i
                                                class="an an-times" aria-hidden="true"></i></a>

                                        <a class="pName" href="/cart">{{this.productname}}</a>

                                        <div class="wrapQtyBtn clearfix">
                                            <span class="label">Qty:</span>
                                            <div class="qtyField clearfix">
                                                <a class="qtyBtn minus"
                                                    onclick="changeQuantity('{{this._id}}','{{this.productId}}',-1,'{{userId}}')"><i
                                                        class="an an-minus" aria-hidden="true"></i></a>
                                                <input type="text" name="quantity" value="{{this.quantity}}" disabled
                                                    class="product-form__input qty">
                                                <a class="qtyBtn plus"
                                                    onclick="changeQuantity('{{this._id}}','{{this.productId}}',+1,'{{userId}}')"><i
                                                        class="an an-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="priceRow clearfix">
                                            <div class="product-price">
                                                <span class="money total_{{this.productId}}">{{this.total}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="minicart-footer minicart-action">
                        <div class="total-in">

                            <p class="label"><b>Total:</b><span class="item product-price"><span
                                        class="totals totalPrice_">{{total}}</span></span></p>
                        </div>
                        <div class="buttonSet d-flex flex-row align-items-center text-center">
                            <a href="/cart" class="btn btn-secondary w-50 me-3">View Cart</a>
                            <a href="/cart/checkout" class="btn btn-secondary w-50">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Minicart Drawer -->


        <!-- Including Javascript -->
        <!-- Plugins JS -->
        {{!--
        <script src="/js/plugins.js"></script>
        <!-- Main JS -->
        <script src="/js/main.js"></script> --}}

    </div>

    {{{body}}}
    <footer class="footerBottom ">
        <div class="footer-bottom ">
            <div class="container">
                <div class="row">
                    <!-- Footer Copyright -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span>&copy;
                            <script>document.write(new Date().getFullYear())</script>
                            OUTFITS.
                        </span> All Rights Reserved.<span>Developed by amogs</span></div>
                    <!-- End Footer Copyright -->
                </div>
            </div>
        </div>
    </footer>
    <style>
        .footerBottom {
            position: absolute;
            width: 100%;
           
            bottom: 0;
        }
    </style>
    <script>
        function changeQuantity(cartId, proId, count) {
            $.ajax({
                url: '/cart/change-product-quantity',
                data: {
                    cart: cartId,
                    product: proId,
                    count: count
                },
                method: 'post',
                success: (response) => {
                    $('.total_' + proId).html(response.newPrice);
                    $('.totalPrice_').html(response.total);
                }
            })
        }
        function remove(cartId, proId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover cart items!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/cart/remove",
                            type: "POST",
                            data: {
                                cart: cartId,
                                product: proId
                            },
                            success: (response) => {
                                if (response.status) {
                                    $('#' + cartId + proId).remove()
                                    $('.totalPrice_').html(response.total);
                                    swal("Cart items has been deleted!", {
                                        icon: "success",
                                    });
                                }
                            },
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/signIn/getId');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
              
                if (xhr.responseText == 'success') {
                    signOut()
                    location.assign('/emailVerify')
                }
            };
            xhr.send(JSON.stringify({ token: id_token }));
        }
    </script>

    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

    <!-- Plugins JS -->
    <script src="/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="/js/validation.js"></script>
</body>
{{/if}}

</html>