
            <!-- Body Content -->
            <div id="page-content">
                <!-- Bredcrumbs -->
                <div class="bredcrumbWrap bredcrumb-style2">
                    <div class="container breadcrumbs">
                        <a href="index.html" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Product Layout3</span>
                    </div>
                </div>
                <!-- End Bredcrumbs -->

                <div class="container">
                    <!-- Main Content -->
                    <div id="ProductSection-product-template" class="product-template__container prstyle2">
                        <!-- #ProductSection product template -->
                        <div class="product-single">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product-details-img">
                                        <!-- Product Images -->
                                        <div class="product-thumb">
                                            <div id="gallery" class="product-dec-slider-2 product-tab-left">
                                                <a data-image="/images/product-detail-page/men-dress-1.jpg" data-zoom-image="/product-images/{{product._id}}image1.jpg" class="slick-slide slick-cloned active" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/product-images/{{product._id}}image1.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-2.jpg" data-zoom-image="/product-images/{{product._id}}image2.jpg" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/product-images/{{product._id}}image2.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-3.jpg" data-zoom-image="/product-images/{{product._id}}image3.jpg" class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/product-images/{{product._id}}image3.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-4.jpg" data-zoom-image="/product-images/{{product._id}}image4.jpg" class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/product-images/{{product._id}}image4.jpg" alt="" />
                                                </a>
                                                {{!-- <a data-image="/images/product-detail-page/men-dress-5.jpg" data-zoom-image="/images/product-detail-page/men-dress-5.jpg" class="slick-slide slick-cloned" data-slick-index="0" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/images/product-detail-page/men-dress-5.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-6.jpg" data-zoom-image="/images/product-detail-page/men-dress-6.jpg" class="slick-slide slick-cloned" data-slick-index="1" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/images/product-detail-page/men-dress-6.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-7.jpg" data-zoom-image="/images/product-detail-page/men-dress-7.jpg" class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/images/product-detail-page/men-dress-7.jpg" alt="" />
                                                </a>
                                                <a data-image="/images/product-detail-page/men-dress-8.jpg" data-zoom-image="/images/product-detail-page/men-dress-8.jpg" class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                                    <img class="blur-up lazyload" src="/images/product-detail-page/men-dress-8.html" alt="" />
                                                </a> --}}
                                            </div>
                                        </div>
                                        <div class="zoompro-wrap product-zoom-right pl-20">
                                            <div class="zoompro-span">
                                                <img class="blur-up lazyload zoompro" data-zoom-image="/product-images/{{product._id}}image1.jpg" alt="" src="/product-images/{{product._id}}image1.jpg" />               
                                            </div>
                                            <div class="product-labels"><span class="lbl pr-label1">new</span><span class="lbl on-sale">Exclusive</span></div>
             
                                        </div>
                                        <div class="lightboximages">
                                            <a href="/product-images/{{product._id}}image1.jpg" data-size="1462x2048"></a>
                                            <a href="/product-images/{{product._id}}image2.jpg" data-size="1462x2048"></a>
                                            <a href="/product-images/{{product._id}}image3.jpg" data-size="1462x2048"></a>
                                            <a href="/product-images/{{product._id}}image4.jpg" data-size="1462x2048"></a>
                                            {{!-- <a href="/images/product-detail-page/men-dress-5.jpg" data-size="1462x2048"></a>
                                            <a href="/images/product-detail-page/men-dress-6.jpg" data-size="1462x2048"></a>
                                            <a href="/images/product-detail-page/men-dress-7.jpg" data-size="731x1024"></a>
                                            <a href="/images/product-detail-page/men-dress-8.html" data-size="731x1024"></a> --}}
                                        </div>
                                        <!-- End Product Images -->
                                        <!-- Wishlist - Share -->
                                        <div class="display-table shareRow pt-4 pb-0 d-table">
                                            <div class="display-table-cell text-center align-top">
                                                <div class="social-sharing">
                                            
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Wishlist - Share -->
                                        <!-- Product Feature -->
                                        <div class="safecheckout row mt-3 mb-4 pb-2">
                                            <div class="item col-lg-3 mb-1 mb-sm-0">
                                                <div class="icon"><i class="icon an an-truck"></i></div>
                                                <div class="content">Free & fast shipping</div>
                                            </div>
                                            <div class="item col-lg-3 mb-1 mb-sm-0">
                                                <div class="icon"><i class="icon an an-certificate"></i></div>
                                                <div class="content">Secure checkout</div>
                                            </div>
                                            <div class="item col-lg-3">
                                                <div class="icon"><i class="icon an an-thumbs-up"></i></div>
                                                <div class="content">Satisfaction guarantee</div>
                                            </div>
                                            <div class="item col-lg-3">
                                                <div class="icon"><i class="icon an an-lock"></i></div>
                                                <div class="content">Privacy protected</div>
                                            </div>
                                        </div>
                                        <!-- End Product Feature -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <!-- Product Info -->
                                    <div class="product-single__meta">
                                        <h1 class="product-single__title">{{product.productname}}</h1>
                                        <div class="product-nav clearfix">					
                                           
                                        </div>
                                        <!-- Product Reviews -->
                                        <div class="prInfoRow d-flex flex-wrap">
                                            <div class="product-review">
                                                <a class="reviewLink d-flex flex-wrap align-items-center" href="#tab2">
                                                    <i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-half-alt"></i>
                                                    <span class="spr-badge-caption">6 reviews</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End Product Reviews -->
                                        <!-- Product Price -->
                                        <div class="product-single__price product-single__price-product-template">
                                            {{!-- <span class="visually-hidden">Regular price</span>
                                            <s id="ComparePrice-product-template"><span class="money">$900.00</span></s> --}}
                                            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                                <span id="ProductPrice-product-template"><span class="money">₹{{product.productprice}}</span></span>
                                            </span>
                                            <span class="discount-badge"> <span class="devider">|</span>&nbsp;
                                               
                                                <span id="SaveAmount-product-template" class="product-single__save-amount">
                                                    
                                                </span>
                                               
                                                 <span class="off"><span style="text-decoration: line-through;">{{product.OldPrice}}</span></span>
                                            </span>
                                            <div class="product__policies rte" data-product-policies="">Tax included.</div>
                                        </div>
                                        <!-- End Product Price -->
                                        <!-- Product orderMsg -->
          
                                        <!-- End Product orderMsg -->
                                        <!-- Product Description -->
                                        <div class="product-single__description rte">
                                            <p class="mb-2">{{product.description}}</p>
                                           
                                        </div>
                                        <!-- End Product Description -->
                                        <!-- Product Quantity -->
                                        <div id="quantity_message">Hurry! Only  <span class="items">15</span>  left in stock.</div>
                                        <!-- End Product Quantity -->
                                        <!-- Countdown -->
                                       
                                        <!-- End Countdown -->
                                        <!-- Form -->
                                        <form method="post" action="/buyProduct">
                                            <!-- Size Swatch -->
                                            <div class="swatch clearfix swatch-1 option1 col-6" data-option-index="1">
                                                <div class="product-form__item">
                                                   
                                                </div>
                                            </div>
                                            <!-- End Size Swatch -->
                                            <!-- Image Swatch -->
                                         
                                            <!-- End Image Swatch -->

                                            <!-- Product Action -->
                                            <div class="product-action clearfix">
                                                <div class="product-form__item--quantity">
                                                    <div class="wrapQtyBtn">
                                                        <div class="qtyField">
                                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus" aria-hidden="true"></i></a>
                                                            <input type="text" name="quantity" value="1" class="product-form__input qty" />
                                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>                                
                                                <div class="product-form__item--submit">
                                                    {{!-- <button type="button" name="add" class="btn product-form__cart-submit"><span>Add to cart</span></button> --}}
                                                     <a href="/cart/cart-add/{{product._id}}" name="add" class="btn product-form__cart-submit"><span>Add to cart</span></a>
                                                    
                                                </div>
                                                <input name="productname" value="{{product.productname}}" hidden>
                                                <input name="productprice" value="{{product.productprice}}" hidden>
                                                <input name="total" value="{{product.productprice}}" hidden>
                                                <input name="productId" value="{{product._id}}" hidden>

                                                <div class="payment-button" >
                                                    <button class="" type="submit" data-proid="{{product._id}}" data-pname="{{product.productname}}" data-price="{{product.productprice}}" >Buy it now</button>
                                                    {{!-- <a href="/cart/cart-add/{{product._id}}" name="add" class="payment-button__button payment-button__button--unbranded"><span>Add to cart</span></a> --}}
                                                </div>
                                            </div>
                                          
                                            <!-- End Product Action -->
                                            <!-- Wishlist - Compare -->
                                            <div class="infolinks d-flex flex-wrap align-items-center px-0 mb-0">
                                                <a class="wishlist add-to-wishlist d-flex align-items-center" href="wishlist.html"><i class="icon an an-heart me-1"></i> <span>Add to Wishlist</span></a>
                                                
                                            </div>
                                            <!-- End Wishlist - Compare -->
                                        </form>
                                        <!-- End Form -->

                                       
                                        <!-- End Product Intro -->
                                    </div>
                                    <!-- End Product Info -->
                                </div>
                            </div>
                            <!-- End Product single -->

                            <!-- Product Tabs -->
                            
                            <!-- End Product Tabs -->

                            <!-- Related Product Slider -->
                            
                            <!-- End Related Product Slider -->

                            <!-- Recently Product Slider -->
                            
                            <!-- End Recently Product Slider -->
                        </div>
                        <!-- #ProductSection product template -->
                    </div>
                    <!-- End Main Content -->
                </div>                
            </div>
            <!-- End Body Content -->

            <!-- Footer -->
<footer class="footerBottom" id="footer">
        <div class="site-footer" >

            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-Start align-items-center">
                            <div class="footer-social w-100 text-start d-flex">
                                <h3 class="h4">Stay Connected</h3>
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link d-inline-block" href="#" target="_blank"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i
                                                class="icon an an-facebook"></i></a></li>
                                    <li><a class="social-icons__link d-inline-block" href="#" target="_blank"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i
                                                class="icon an an-twitter"></i> <span
                                                class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link d-inline-block" href="#" target="_blank"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i
                                                class="icon an an-pinterest-p"></i> <span
                                                class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link d-inline-block" href="#" target="_blank"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i
                                                class="icon an an-instagram"></i> <span
                                                class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link d-inline-block" href="#" target="_blank"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube"><i
                                                class="icon an an-youtube"></i> <span
                                                class="icon__fallback-text">YouTube</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Footer Payment Icon-->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end align-items-center">
                            <ul class="payment-icons list--inline w-100 justify-content-end text-end">
                                <li><i class="icon an an-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon an an-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon an an-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon an an-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon an an-cc-discover" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!-- End Footer Payment Icon-->
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <!-- Footer Copyright -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span>&copy; 2022
                                DIVA.</span> All Rights Reserved.<span>Developed by amogs</span></div>
                        <!-- End Footer Copyright -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
            <!-- End Footer -->

            <!-- Scoll Top -->
            <div id="site-scroll"><i class="icon an an-angle-up"></i></div>
            <!-- End Scoll Top -->

            <!-- Minicart Drawer -->
            
            <!-- End Minicart Drawer -->

            <!-- Addtocart Added Popup -->

            <!-- End Addtocart Added Popup -->

            <!-- Quick View popup -->
            
            <!-- End Quick View Popup -->



            <!-- Shipping Popup -->
            
            <!-- End Shipping Popup-->

            <!-- Size Guide -->
            
            <!-- End Size Guide -->

            <!-- Ask About this Product -->
           
            <!-- End Ask About this Product -->

            <!-- Sticky Cart -->
           
            <!-- End Sticky Cart -->


            <!-- Including Javascript -->
            <!-- Plugins JS -->
            <script src="/js/plugins.js"></script>
            <!-- Main JS -->
            <script src="/js/main.js"></script>

            <!-- Photoswipe Gallery -->
            

            

        </div>


<script>
    $('.data-buyProduct').click(function(e){
        alert("hey")
        var proId = $(this).data('proid')
        var pname = $(this).data('pname')
        var price = $(this).data('price')
        buyProduct(proId,pname,price)
        e.preventDefault()
    })

    function buyProduct(id,pname,price){    
        alert("hey") 
        $.ajax({
            url:'/buyProduct',
            method:'post',
            data:{
                productId:id,
                productname:pname,
                productprice:price,
                total:price
            },
            success:(response)=>{
                alert(response.status)
                
            }
        })
    }
</script>