<!-- Page Loader -->
<div id="pre-loader"><img src="/images/loader.gif" alt="Loading..." /></div>
<!-- End Page Loader -->

<div class="pageWrapper" style="margin-bottom: 100px !important;">
    <!-- Promotion Bar -->

    <!-- End Promotion Bar -->

    <!-- Search Form Drawer -->

    <!-- End Mobile Menu -->

    <!-- Body Content -->
    <div id="page-content">
        <!-- Page Title -->
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper">
                    <h1 class="page-title">CART</h1>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <div class="container">
            <div class="row">
                <!-- Main Content -->
                {{#if cartProducts}}

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                    <div class="alert alert-success text-uppercase" role="alert">
                        <i class="icon an an-truck icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got
                        free shipping!
                    </div>
                    <form action="#" method="post" class="cart style2">
                        <table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody id="mytable">
                                {{#each products}}
                                <tr id="{{this._id}}{{this.productId}}123"
                                    class="cart__row border-bottom line1 cart-flex border-top">

                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="/productShow/{{this.productId}}"><img
                                                class="cart__image blur-up lazyload"
                                                data-src="/product-images/{{this.productId}}image1.jpg"
                                                src="/product-images/{{this.productId}}image2.jpg"
                                                alt="Elastic Waist Dress - Navy / Small" /></a>
                                                
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="/productShow/{{this.productId}}">{{this.productname}}</a>
                                        </div>
                                        <div class="pt-3 d-xl-none d-lg-none d-md-none d-sm-block d-xs-none">
                                            <div class="qtyField ">
                                                {{#if this.btnStatus}}
                                                <a id="{{this.productId}}" class="qtyBtn minus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',-1)"><i
                                                        class="icon an an-minus"></i></a>
                                                {{else}}
                                                <a style="visibility: ;" id="{{this.productId}}" class="qtyBtn minus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',-1)"><i
                                                        class="icon an an-minus"></i></a>
                                                {{/if}}
                                                <span
                                                    class="cart__qty-input  quantity_{{this.productId}}">{{this.quantity}}</span>

                                                <a class="qtyBtn plus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',+1)"><i
                                                        class="icon an an-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item text-center">
                                        <span class="money">{{this.productprice}}</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-center">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                {{#if this.btnStatus}}
                                                <a id="{{this.productId}}" class="qtyBtn minus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',-1)"><i
                                                        class="icon an an-minus"></i></a>
                                                {{else}}
                                                <a style="visibility: ;" id="{{this.productId}}" class="qtyBtn minus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',-1)"><i
                                                        class="icon an an-minus"></i></a>
                                                {{/if}}
                                                <span
                                                    class="cart__qty-input  quantity_{{this.productId}}">{{this.quantity}}</span>

                                                <a class="qtyBtn plus"
                                                    onclick="changeCartQuantity('{{this._id}}','{{this.productId}}',+1)"><i
                                                        class="icon an an-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="small--hide cart-price text-center">
                                        <span class="money total_{{ this.productId }}">{{this.total}}</span>
                                    </td>

                                    <td class="text-center small--hide"><a class="btn btn--secondary cart__remove"
                                            onclick="removeCart('{{this._id}}','{{this.productId}}')"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Remove item"><i
                                                class="icon an an-times"></i></a></td>

                                </tr>
                                {{/each}}

                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-start"><a href="/"
                                            class="btn btn--link btn--small cart-continue"><i
                                                class="icon an an-chevron-circle-left"></i> Continue shopping</a></td>
                                    <td colspan="3" class="text-end">

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 cart-col">

                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 cart-col">

                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 cart__footer mb-5">
                            <div class="solid-border">

                                <div class="row border-bottom pb-2 pt-2">
                                    <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                    <span class="col-12 col-sm-6 text-right">Free shipping</span>
                                </div>
                                <div class="row border-bottom pb-2 pt-2">
                                    <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand
                                            Total</strong></span>
                                    <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span
                                            class="money totalPrice_">{{total}}</span></span>
                                </div>
                                <div class="cart__shipping">payments are highly secured</div>

                                <a href="/cart/checkout" id="cartCheckout" class="btn btn--small-wide checkout">Proceed
                                    To Checkout</a>
                                <div class="paymnet-img"><img src="/images/payment-img.jpg" alt="Payment" /></div>

                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-sm-12 text-center empty-page mb-5">
                    <i class="icon an an-cart-arrow-down"></i>
                    <h2>Your shopping cart is empty!</h2>
                    <p class="mb-3 pb-1">You have no items in your shopping cart.</p>
                    <a href="/" class="btn btn-primary">continue shopping</a>
                </div>

                {{/if}}

                <!-- End Main Content -->
            </div>
        </div>
        <div id="site-scroll"><i class="icon an an-angle-up"></i></div>
    </div>
    <!-- End Body Content -->
</div>

<script>

    function changeCartQuantity(cartId, proId, count) {

        $.ajax({

            url: '/cart/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                count: count


            },
            method: 'post',
            success: (response) => {
              
                if (response.qty <= 1) {

                }
                else {
                    document.getElementById(proId).style.visibility = "visible";
                }
                $('.total_' + proId).html(response.newPrice);
                $('.totalPrice_').html(response.total);
                $('.quantity_' + proId).html(response.qty);

            }
        })

    }

    function removeCart(cartId, proId) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this item!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/cart/remove",
                        type: "POST",
                        data: {
                            cart: cartId,
                            product: proId
                        },
                        success: async (response) => {
                            if (response.status) {
                                if (response.quantityCheck) {

                                    await swal("Item has been deleted!", {
                                        icon: "success",
                                    });
                                    location.reload()

                                } else {
                                    $('#' + cartId + proId + '123').remove()
                                    $('.totalPrice_').html(response.total);
                                    swal("Item has been deleted!", {
                                        icon: "success",
                                    });


                                }

                            }


                        },
                    });
                } else {
                    swal("Your cart item is not removed!");
                }
            });
    }



</script>