<!-- Page Loader -->
<div id="pre-loader"><img src="/images/loader.gif" alt="Loading..." /></div>
<!-- End Page Loader -->

<div class="pageWrapper">
    <div id="page-content">
        <!-- Promotion Bar -->

        <!-- Mobile Menu -->


        <div class="container mb-5">
            <!-- Main Content -->
            <form method="post" action="#" id="checkout-form">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card--grey">
                            <div class="card-body">
                                <h2>SHIPPING ADDRESS</h2>
                                <input name="check" value={{check}} hidden>
                                {{#each products}}
                                <input name="qty" value={{this.quantity}} hidden>
                                {{/each }}
                                <input id="totalAmount" name="totalAmount" value="{{total}}" hidden>
                                <input id="couponCode" name="couponCode" value="null" hidden>

                                {{#each address}}
                                <div class="row">
                                    <input type="radio" name="address" value="{{this._id}}" onclick="changeStatus()">
                                    <p>{{address.address_1}} <br> {{address.city}}, <br> {{address.postcode}}, <br>
                                        {{address.country}}<br> </p>

                                </div>
                                {{/each}}
                                <div class="row">
                                    <input type="radio" name="address" value="" onclick="changeStatusTo(); "
                                        checked="checked">
                                    <h5 class="text-primary">Add new address</h5>
                                </div>


                                <div class="accordion add-address mt-3" id="address1">
                                    <button class="collapsed btn btn--small" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#shipping" aria-expanded="false" aria-controls="shipping">Add
                                        Address</button>

                                    <div id="shipping" class="accordion-collapse collapse" data-bs-parent="#address">
                                        <form class="address-from mt-3" method="post" name="newAddress"
                                            action="/placeOrder/newAddress">
                                            {{!-- <fieldset name="newadress"> --}}

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-firstname1">First Name <span
                                                                class="required-f">*</span></label>
                                                        <input name="firstname" id="input-firstname1" type="text">
                                                        <span class="error_form" id="fname_error_message"></span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-lastname1">Last Name <span
                                                                class="required-f">*</span></label>
                                                        <input name="lastname" id="input-lastname1" type="text">
                                                        <span class="error_form" id="sname_error_message"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-email1">E-Mail <span
                                                                class="required-f">*</span></label>
                                                        <input name="email" id="input-email1" type="email">
                                                        <span class="error_form" id="email_error_message"></span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-telephone1">Telephone <span
                                                                class="required-f">*</span></label>
                                                        <input name="telephone" id="input-telephone1" type="tel">
                                                        <span class="error_form" id="mob_error_message"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                        <label for="input-company1">Company</label>
                                                        <input name="company" id="input-company1" type="text">

                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-address-11">Address <span
                                                                class="required-f">*</span></label>
                                                        <input name="address_1" id="input-address-11" type="text">
                                                        <span class="error_form" id="address1_error_message"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                        <label for="input-address-21">Apartment <span
                                                                class="required-f">*</span></label>
                                                        <input name="address_2" id="input-address-21" type="text">
                                                        <span class="error_form" id="address2_error_message"></span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-city1">City <span
                                                                class="required-f">*</span></label>
                                                        <input name="city" id="input-city1" type="text">
                                                        <span class="error_form" id="city_error_message"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-postcode1">Post Code <span
                                                                class="required-f">*</span></label>
                                                        <input name="postcode" id="input-postcode1" type="text">
                                                        <span class="error_form" id="postcode_error_message"></span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <label for="input-country1">Country <span
                                                                class="required-f">*</span></label>
                                                        <select name="country" id="input-country1">
                                                            <option value="India">India</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12 col-lg-12 col-xl-12 required">
                                                        <label for="input-zone1">Region / State <span
                                                                class="required-f">*</span></label>
                                                        <select name="zone_id" id="input-zone1">
                                                            <option value="">Please Select</option>
                                                            <option value="Kerala">Kerala</option>
                                                            <option value="TamilNadu">TamilNadu</option>
                                                            <option value="Karnataka">Karnataka</option>
                                                            <option value="Goa">Goa</option>
                                                        </select>
                                                    </div>
                                                </div>



                                                {{!--
                                            </fieldset> --}}
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mt-2 mt-md-0">

                        <div class="mt-2"></div>
                        <div class="card card--grey">
                            <div class="card-body">
                                <h2>PAYMENT METHOD</h2>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="customRadio clearfix">
                                            <input id="formcheckoutRadio4" value="COD" name="paymentMode" type="radio"
                                                checked="checked">
                                            <label for="formcheckoutRadio4">COD</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="customRadio clearfix">
                                            <input id="formcheckoutRadio5" value="paypal" name="paymentMode"
                                                type="radio">
                                            <label for="formcheckoutRadio5">Paypal</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="customRadio clearfix">
                                            <input id="formcheckoutRadio6" value="razorpay" name="paymentMode"
                                                type="radio">
                                            <label for="formcheckoutRadio6">Razorpay</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">


                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="mt-2"></div>

                    </div>
                    <div class="col-md-12 col-lg-4 mt-2 mt-md-0 mb-5">
                        <h2 class="title">ORDER SUMMARY</h2>
                        <div class="table-responsive-sm order-table">
                            <table class="bg-white table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th class="text-start"></th>
                                        <th class="text-start">Product Name</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <input name="proId" value="{{this.productId}}" hidden>
                                    <input name="productprice" value="{{this.productprice}}" hidden>
                                    <tr>
                                        <td><a href="#;" class="thumb"><img class="cart__image"
                                                    src="/product-images/{{this.productId}}image1.jpg" alt=""></a></td>
                                        <td class="text-start">{{this.productname}}</td>
                                        <td>{{this.productprice}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td>{{this.total}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot class="font-weight-600">

                                    <tr id="hidden1" style="visibility: hidden;">
                                        <td colspan="4" class="text-end">Offer Applied</td>
                                        <td id="offerDiscount"></td>
                                    </tr>
                                    <tr id="hidden2" style="visibility: hidden;">
                                        <td colspan="4" class="text-end">Sub Total</td>
                                        <td id="subTotal"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-end">Total</td>
                                        <td id="total">{{total}}</td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <label id="walletBalance"></label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="{{total}}" name="wallet"
                                id="checkboxWallet">
                            <label class="custom-control-label" for="customCheck1">Use Wallet Balance</label>
                        </div>
                        <div class="mt-2"></div>
                        <div class="card card--grey">
                            <div class="card-body">
                                <h2>Apply Couponcode</h2>
                                <label class="text-uppercase">Enter Coupon code:</label>
                                <div class="form-flex">
                                    <form id="couponCheck">
                                        <input id="couponTotalCheck" value="{{total}}" name="total" hidden>
                                        <div class="form-group"><input type="text" name="couponCode"
                                                class="form-control">
                                            <p class="text-danger" id="couponErr"></p>
                                        </div><button id="couponButton" type="button" class="btn ">Apply</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2"></div>
                        <div class="clearfix"><button type="button" id="checkout_btn"
                                class="btn btn-large btn--lg w-100">Place order</button></div>
                    </div>
                </div>
            </form>
            <!-- End Main Content -->
        </div>
<div id="site-scroll"><i class="icon an an-angle-up"></i></div>
    </div>
</div>
<!-- End Body Content -->


<!-- Scoll Top -->
<!-- End Scoll Top -->

<!-- Minicart Drawer -->

<!-- End Minicart Drawer -->


<!-- Including Javascript -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    $("#fname_error_message").hide()
    $("#lname_error_message").hide()
    $("#email_error_message").hide()
    $("#mob_error_message").hide()
    $("#address1_error_message").hide()
    $("#address2_error_message").hide()
    $("#city_error_message").hide()
    $("#postcode_error_message").hide()


    var error_fname = false;
    var error_lname = false;
    var error_email = false;
    var error_mobno = false;
    var error_address1 = false;
    var error_address2 = false;
    var error_city = false;
    var error_postcode = false;

    $("#input-firstname1").focusout(function () {
        check_fname();
    });
    $("#input-lastname1").focusout(function () {
        check_sname();
    });
    $("#input-email1").focusout(function () {
        check_email();
    });
    $("#input-telephone1").focusout(function () {
        check_mob();
    });

    $("#input-address-11").focusout(function () {
        check_address1();
    });
    $("#input-address-21").focusout(function () {
        check_address2();
    });
    $("#input-city1").focusout(function () {
        check_city();
    });
    $("#input-postcode1").focusout(function () {
        check_postcode();
    });

    function check_fname() {
        var pattern = /^[a-zA-Z]*$/;
        var fname = $("#input-firstname1").val();
        if (pattern.test(fname) && fname !== '') {
            $("#fname_error_message").hide();
            $("#input-firstname1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#fname_error_message").html("Should contain only Characters");
            $("#fname_error_message").show();
            $("#input-firstname1").css("border-bottom", "2px solid #F90A0A");
            error_fname = true;
        }
    }

    function check_sname() {
        var pattern = /^[a-zA-Z]*$/;
        var sname = $("#input-lastname1").val()
        if (pattern.test(sname) && sname !== '') {
            $("#sname_error_message").hide();
            $("#input-lastname1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#sname_error_message").html("Should contain only Characters");
            $("#sname_error_message").show();
            $("#input-lastname1").css("border-bottom", "2px solid #F90A0A");
            error_sname = true;
        }
    }



    function check_email() {
        var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        var email = $("#input-email1").val();
        if (pattern.test(email) && email !== '') {
            $("#email_error_message").hide();
            $("#input-email1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#email_error_message").html("Invalid Email");
            $("#email_error_message").show();
            $("#input-email1").css("border-bottom", "2px solid #F90A0A");
            error_email = true;
        }
    }
    function check_mob() {
        var pattern = /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
        var mob = $("#input-telephone1").val();
        if (pattern.test(mob) && mob !== '' && mob.length == 10) {
            $("#mob_error_message").hide();
            $("#input-telephone1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#mob_error_message").html("Invalid Mobile NO");
            $("#mob_error_message").show();
            $("#input-telephone1").css("border-bottom", "2px solid #F90A0A");
            error_mobno = true;
        }
    }
    function check_address1() {
        var pattern = /^[a-zA-Z\s]*$/;
        var sname = $("#input-address-11").val()
        if (pattern.test(sname) && sname !== '') {
            $("#address1_error_message").hide();
            $("#input-address-11").css("border-bottom", "2px solid #34F458");
        } else {
            $("#address1_error_message").html("Should contain only Characters");
            $("#address1_error_message").show();
            $("#input-address-11").css("border-bottom", "2px solid #F90A0A");
            error_address1 = true;
        }
    }
    function check_address2() {
        var pattern = /^[a-zA-Z\s]*$/;
        var sname = $("#input-address-21").val()
        if (pattern.test(sname) && sname !== '') {
            $("#address2_error_message").hide();
            $("#input-address-21").css("border-bottom", "2px solid #34F458");
        } else {
            $("#address2_error_message").html("Should contain only Characters");
            $("#address2_error_message").show();
            $("#input-address-21").css("border-bottom", "2px solid #F90A0A");
            error_address2 = true;
        }
    }
    function check_city() {
        var pattern = /^[a-zA-Z]*$/;
        var sname = $("#input-city1").val()
        if (pattern.test(sname) && sname !== '') {
            $("#city_error_message").hide();
            $("#input-city1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#city_error_message").html("Should contain only Characters");
            $("#city_error_message").show();
            $("#input-city1").css("border-bottom", "2px solid #F90A0A");
            error_city = true;
        }
    }
    function check_postcode() {
        var pattern = /^[0-9]*$/;
        var mob = $("#input-postcode1").val();
        if (pattern.test(mob) && mob !== '' && mob.length == 6) {
            $("#postcode_error_message").hide();
            $("#input-postcode1").css("border-bottom", "2px solid #34F458");
        } else {
            $("#postcode_error_message").html("Invalid Postcode");
            $("#postcode_error_message").show();
            $("#input-postcode1").css("border-bottom", "2px solid #F90A0A");
            error_postcode = true;
        }
    }

    $("#checkout_btn").click((e) => {
      
        var getSelectedValue = document.querySelector('input[name="address"]:checked').value;

        if (getSelectedValue == "") {

            error_fname = false;
            error_sname = false;
            error_email = false;
            error_mobno = false;
            error_address1 = false;
            error_address2 = false;
            error_city = false;
            error_postcode = false;


            check_fname();
            check_sname();
            check_email();
            check_mob();
            check_address1();
            check_address2();
            check_city();
            check_postcode();


            if (error_fname === false && error_sname === false && error_email === false && error_mobno === false && error_address1 === false && error_address2 === false && error_city === false && error_postcode === false) {


            } else {
                swal("Please Fill the form Correctly");
                return false;
            }
        }

       
        e.preventDefault()
        $.ajax({
            url: '/placeOrder',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.status) {
                    location.href = '/placeOrder/order-success'
                } else {
                    if (response.mode == "paypal") {
                       
                        location.href = response.url
                    }
                    else {

                        razorpay(response.response)
                    }

                }
            }
        })
    })

    function razorpay(order) {

        var options = {
            "key": "rzp_test_nUVcKdOUWrUXIZ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {


                verifyPayment(response, order);
            },
            "prefill": {
                "name": "Outfits",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/placeOrder/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/placeOrder/order-success';
                }
                else {

                    location.href = '/'
                }
            }

        })
    }

    function checkButton() {
        var getSelectedValue = document.querySelector('input[name="address"]:checked');

        if (getSelectedValue == null) {

            alert("Selected radio button values is null: ");
            return false;

        }

    }

    function changeStatus() {

        var nodes = document.getElementById("address1").getElementsByTagName('*');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].disabled = true;
            nodes[i].hidden = true;
        }
    }

    function changeStatusTo(check) {
        if (check == "true") {


        }
        var nodes = document.getElementById("address1").getElementsByTagName('*');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].disabled = false;
            nodes[i].hidden = false;
        }
    }


    $("#couponButton").click((e) => {

        e.preventDefault()
        $.ajax({

            url: '/offerManagement/couponCheck',
            method: 'post',
            data: $('#couponCheck').serialize(),
            success: (resp) => {

                if (resp.statuss) {
                    document.getElementById("couponErr").textContent = resp.msg
                    document.getElementById("hidden1").style.visibility = "visible"
                    document.getElementById("hidden2").style.visibility = "visible"
                    document.getElementById("offerDiscount").textContent = -resp.couponDetail.discount
                    document.getElementById("subTotal").textContent = resp.subTotal
                    document.getElementById("total").textContent = resp.totalAmount
                    document.getElementById("totalAmount").value = resp.totalAmount
                    document.getElementById("couponCode").value = resp.coupon
                    document.getElementById("checkboxWallet").value = resp.totalAmount


                } else {

                    document.getElementById("hidden1").style.visibility = "hidden"
                    document.getElementById("hidden2").style.visibility = "hidden"
                    document.getElementById("total").textContent = resp.subTotal
                    document.getElementById("couponErr").textContent = resp.msg
                    document.getElementById("totalAmount").value = resp.subTotal
                    document.getElementById("checkboxWallet").value = resp.subTotal
                    document.getElementById("couponCode").value = "null"
                }
            }
        })
    })

    $(document).on("change", "input[name='wallet']", function () {

        var checkbox = $(this);
        var checked = checkbox.prop('checked');

        x = document.getElementById("checkboxWallet").value
        $.ajax({
            url: "/offerManagement/wallet",
            type: 'post',
            data: {
                checked: checked,
                price: x
            },
            success: function (data) {
                if (data.status) {

                    document.getElementById("walletBalance").innerHTML = "Wallet Balance:" + data.balance
                    document.getElementById("total").textContent = data.amount
                    document.getElementById("totalAmount").value = data.amount
                    document.getElementById("couponTotalCheck").value = data.amount
                } else {
                    document.getElementById("walletBalance").innerHTML = ""
                    document.getElementById("total").textContent = data.amount
                    document.getElementById("totalAmount").value = data.amount
                    document.getElementById("couponTotalCheck").value = data.amount
                }
            },
            error: function (data) {

                // Revert
                checkbox.attr('checked', !checked);
            }
        });
    });





</script>