
        <!-- Page Loader -->
        <div id="pre-loader"><img src="/images/loader.gif" alt="Loading..." /></div>
        <!-- End Page Loader -->

        <div class="pageWrapper">
            <!-- Promotion Bar -->
            
            <!-- Mobile Menu -->
            

                <div class="container" style="margin-top: 8rem;">
                    <!-- Main Content -->
                    <form method="post" action="/hey" id="checkout-form">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="card card--grey">
                                    <div class="card-body">
                                        <h2>SHIPPING ADDRESS</h2>
                                        <input name="check" value={{check}} hidden>
                                        {{#each products}}
                                        <input name="qty" value={{this.quantity}} hidden>
                                        {{/each }}
                                        
                                        {{#each address.address}}
                                        <div class="row">
                                            <input type="radio" name="address"  value="{{this._id}}" onclick="changeStatus()">
                                            <p>{{address.address_1}} <br> {{address.city}}, <br> {{address.postcode}}, <br> {{address.country}}<br> {{this._id}}</p>
                                       
                                        </div>
                                        {{/each}}
                                        <div class="row">
                                             <input type="radio" name="address" value="" onclick="changeStatusTo()" checked="checked"><h5 class="text-primary">Add new address</h5>
                                        </div>
                                        
                                         
                                         <div class="accordion add-address mt-3" id="address1">
                                                <button class="collapsed btn btn--small" type="button" data-bs-toggle="collapse" data-bs-target="#shipping" aria-expanded="false" aria-controls="shipping">Add Address</button>
                                                
                                                <div id="shipping" class="accordion-collapse collapse" data-bs-parent="#address">
                                                    <form class="address-from mt-3" method="post" name="newAddress" action="/placeOrder/newAddress">
                                                        {{!-- <fieldset name="newadress"> --}}
                                                                   
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-firstname1">First Name <span class="required-f">*</span></label>
                                                                    <input name="firstname"  id="input-firstname1" type="text">
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-lastname1">Last Name <span class="required-f">*</span></label>
                                                                    <input name="lastname"  id="input-lastname1" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-email1">E-Mail <span class="required-f">*</span></label>
                                                                    <input name="email"  id="input-email1" type="email">
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-telephone1">Telephone <span class="required-f">*</span></label>
                                                                    <input name="telephone"  id="input-telephone1" type="tel">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                    <label for="input-company1">Company</label>
                                                                    <input name="company" id="input-company1" type="text">
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-address-11">Address <span class="required-f">*</span></label>
                                                                    <input name="address_1"  id="input-address-11" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                    <label for="input-address-21">Apartment <span class="required-f">*</span></label>
                                                                    <input name="address_2"  id="input-address-21" type="text">
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-city1">City <span class="required-f">*</span></label>
                                                                    <input name="city"  id="input-city1" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-postcode1">Post Code <span class="required-f">*</span></label>
                                                                    <input name="postcode" id="input-postcode1" type="text">
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-country1">Country <span class="required-f">*</span></label>
                                                                    <select name="country" id="input-country1">
                                                                        <option value="India">India</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12 col-lg-12 col-xl-12 required">
                                                                    <label for="input-zone1">Region / State <span class="required-f">*</span></label>
                                                                    <select name="zone_id" id="input-zone1">
                                                                        <option value="">Please Select</option>
                                                                        <option value="3513">Aberdeen</option>
                                                                        <option value="3514">Aberdeenshire</option>
                                                                        <option value="3515">Anglesey</option>
                                                                        <option value="3516">Angus</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        
                                                            <button type="submit" class="btn mt-1"><span>Save and Delivere here</span></button>
                                                         
                                                        {{!-- </fieldset> --}}
                                                    </form>
                                                </div>
                                            </div>
                                         
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-6 col-lg-4 mt-2 mt-md-0">
                              
                                <div class="mt-2"></div>
                                <div class="card card--grey">
                                    <div class="card-body">
                                        <h2>PAYMENT METHOD</h2>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="customRadio clearfix">
                                                    <input id="formcheckoutRadio4" value="COD" name="paymentMode" type="radio" checked="checked" > 
                                                    <label for="formcheckoutRadio4">COD</label></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="customRadio clearfix">
                                                    <input id="formcheckoutRadio5" value="paypal" name="paymentMode" type="radio" > 
                                                    <label for="formcheckoutRadio5">Paypal</label>
                                                </div>
                                            </div>
                                             <div class="col-4">
                                                <div class="customRadio clearfix">
                                                    <input id="formcheckoutRadio6" value="razorpay" name="paymentMode" type="radio" > 
                                                    <label for="formcheckoutRadio6">Razorpay</label></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="text-uppercase">Card Number</label>
                                                <div class="form-group"><input type="text" class="form-control"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><label class="text-uppercase">Month:</label>
                                                <div class="form-group select-wrapper">
                                                    <select class="form-control">
                                                        <option selected="selected" value="1">January</option>
                                                        <option value="2">February</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">July</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"><label class="text-uppercase">Year:</label>
                                                <div class="form-group select-wrapper">
                                                    <select class="form-control">
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12"><label class="text-uppercase">CVV Code</label>
                                                <div class="form-group"><input type="text" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2"></div>
                                <div class="card card--grey">
                                    <div class="card-body">
                                        <h2>Order Comment</h2><label class="text-uppercase">Write a comment here:</label> <textarea class="form-control textarea--height-200"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 mt-2 mt-md-0">
                                <h2 class="title">ORDER SUMMARY</h2>
                                <div class="table-responsive-sm order-table"> 
                                    <table class="bg-white table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-start"></th>
                                                <th class="text-start">Product Name</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each products}}
                                            <input name="proId" value="{{this.productId}}" hidden>
                                            <input name="productprice" value="{{this.productprice}}" hidden>
                                            <tr>
                                                <td><a href="#;" class="thumb"><img class="cart__image" src="/product-images/{{this.productId}}image1.jpg" alt=""></a></td>
                                                <td class="text-start">{{this.productname}}</td>
                                                <td>{{this.productprice}}</td>
                                                <td>{{this.quantity}}</td>
                                                <td>{{this.total}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot class="font-weight-600">
                                            
                                            <tr id="hidden1" style="visibility: hidden;">
                                                 <td colspan="4" class="text-end" >Offer Applied</td>
                                                <td id="offerDiscount"></td>
                                            </tr >
                                               <tr id="hidden2" style="visibility: hidden;">
                                                 <td colspan="4" class="text-end">Sub Total</td>
                                                <td id="subTotal"></td>
                                            </tr > 
                                               <tr>
                                                 <td colspan="4"  class="text-end">Total</td>
                                                <td id="total">{{total}}</td>
                                            </tr>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="mt-2"></div>
                                <div class="card card--grey">
                                    <div class="card-body">
                                        <h2>Apply Couponcode</h2>
                                        <label class="text-uppercase">Enter Coupon code:</label>
                                        <div class="form-flex">
                                    <form id="couponCheck">
                                        <input value="{{total}}" name="total" hidden>
                                            <div class="form-group"><input  type="text" name="couponCode" class="form-control"><p class="text-danger" id="couponErr"></p></div><button id="couponButton" type="button" class="btn ">Apply</button>
                                    </form>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-2"></div>
                                <div class="clearfix"><button type="button" id="checkout_btn"  class="btn btn-large btn--lg w-100">Place order</button></div>
                            </div>
                        </div>
                    </form>
                    <!-- End Main Content -->        
                </div>
                
            </div>
            <!-- End Body Content -->

            <!-- Footer -->
            <footer id="footer">
                <div class="site-footer">
                    <div class="footer-top">
                        <div class="container">
                            <!-- Footer Links -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Quick Links</h4>
                                    <ul>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Deals</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">New In</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Help</h4>
                                    <ul>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">My Orders</a></li>
                                        <li><a href="#">Terms And Conditions</a></li>
                                        <li><a href="#">Shipping Policy</a></li>
                                        <li><a href="#">Returns &amp; Exchange</a></li>
                                        <li><a href="#">Ordering &amp; Payment</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                    <h4 class="h4">Contact Us</h4>
                                    <ul class="addressFooter">
                                        <li>
                                            <i class="icon an an-map-marker"></i>
                                            <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                                        </li>
                                        <li class="phone">
                                            <i class="icon an an-phone-volume"></i>
                                            <p><a href="tel:(440)0000000000">(440) 000 000 0000</a></p>
                                        </li>
                                        <li class="email">
                                            <i class="icon an an-envelope"></i>
                                            <p><a href="mailto:sales@yousite.com">sales@yousite.com</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 newsletter">
                                    <div class="display-table">
                                        <div class="display-table-cell footer-newsletter">
                                            <form action="#" method="post">
                                                <label class="h4">Newsletter</label>
                                                <p>sign up for newsletter to know our latest news and offers.</p>
                                                <div class="input-group">
                                                    <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required />
                                                    <span class="input-group__btn">
                                                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Sign Up</span></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Links -->
                    </div>

                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-Start align-items-center">
                                    <div class="footer-social w-100 text-start d-flex">
                                        <h3 class="h4">Stay Connected</h3>
                                        <ul class="list--inline site-footer__social-icons social-icons">
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon an an-facebook"></i></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon an an-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon an an-pinterest-p"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon an an-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube"><i class="icon an an-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Footer Payment Icon-->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end align-items-center">
                                    <ul class="payment-icons list--inline w-100 justify-content-end text-end">
                                        <li><i class="icon an an-cc-visa" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-mastercard" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-amex" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-paypal" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-discover" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <!-- End Footer Payment Icon-->
                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <!-- Footer Copyright -->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span>&copy; 2021 DIVA.</span> All Rights Reserved.</div>
                                <!-- End Footer Copyright -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- Scoll Top -->
            <div id="site-scroll"><i class="icon an an-angle-up"></i></div>
            <!-- End Scoll Top -->

            <!-- Minicart Drawer -->
            <div class="minicart-right-drawer right modal fade" id="minicart-drawer" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="minicart-header">
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="an an-times" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></button>
                            <h4 class="modal-title" id="myModalLabel2">Shopping Cart <strong>3</strong> items</h4>
                        </div>
                        <div class="minicart-body">
                            <div class="empty-cart">
                                <p>You have no items in your shopping cart.</p>
                            </div>
                            <div id="drawer-minicart" class="block block-cart">
                                <ul class="mini-products-list">
                                    <li class="item">
                                        <a class="product-image" href="cart.html"><img src="/images/product-images/cape-dress-1.jpg" alt="Frayed Layered Sleeve" title=""></a>
                                        <div class="product-details">
                                            <a href="#" class="remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i class="an an-times" aria-hidden="true"></i></a>
                                            <a href="#" class="edit-i remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="an an-edit" aria-hidden="true"></i></a>
                                            <a class="pName" href="cart.html">Frayed Layered Sleeve</a>
                                            <div class="variant-cart">Red / XL</div>
                                            <div class="wrapQtyBtn clearfix">
                                                <span class="label">Qty:</span>
                                                <div class="qtyField clearfix">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="an an-minus" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="an an-plus" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="priceRow clearfix">
                                                <div class="product-price">
                                                    <span class="money">$199.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a class="product-image" href="cart.html"><img src="/images/product-images/cape-dress-2.jpg" alt="Floral Lined Jacket" title=""></a>
                                        <div class="product-details">
                                            <a href="#" class="remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i class="an an-times" aria-hidden="true"></i></a>
                                            <a href="#" class="edit-i remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="an an-edit" aria-hidden="true"></i></a>
                                            <a class="pName" href="cart.html">Floral Lined Jacket</a>
                                            <div class="variant-cart">Black / M</div>
                                            <div class="wrapQtyBtn clearfix">
                                                <span class="label">Qty:</span>
                                                <div class="qtyField clearfix">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="an an-minus" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="an an-plus" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="priceRow clearfix">
                                                <div class="product-price">
                                                    <span class="money">$129.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a class="product-image" href="cart.html"><img src="/images/product-images/cape-dress-3.jpg" alt="Fit & Flare Trim Dress" title=""></a>
                                        <div class="product-details">
                                            <a href="#" class="remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><i class="an an-times" aria-hidden="true"></i></a>
                                            <a href="#" class="edit-i remove" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="an an-edit" aria-hidden="true"></i></a>
                                            <a class="pName" href="cart.html">Fit & Flare Trim Dress</a>
                                            <div class="variant-cart">white / XL</div>
                                            <div class="wrapQtyBtn clearfix">
                                                <span class="label">Qty:</span>
                                                <div class="qtyField clearfix">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="an an-minus" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="an an-plus" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="priceRow clearfix">
                                                <div class="product-price">
                                                    <span class="money">$99.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="minicart-footer minicart-action">
                            <div class="total-in">
                                <p class="label"><b>Subtotal:</b><span class="item product-price"><span class="money">$427.00</span></span></p>
                                <p class="label"><b>Shipping:</b><span class="item product-price"><span class="shipping">$10.00</span></span></p>
                                <p class="label"><b>Tax:</b><span class="item product-price"><span class="tax">$0.00</span></span></p>
                                <p class="label"><b>Total:</b><span class="item product-price"><span class="totals">$437.00</span></span></p>
                            </div>
                            <div class="buttonSet d-flex flex-row align-items-center text-center">
                                <a href="cart.html" class="btn btn-secondary w-50 me-3">View Cart</a>
                                <a href="checkout.html" class="btn btn-secondary w-50" >Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Minicart Drawer -->


            <!-- Including Javascript -->
          

        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    $("#checkout_btn").click((e)=>{
        console.log('entered')
        alert('success')
        console.log($('#checkout-form').serialize())
        e.preventDefault()
        $.ajax({
            url:'/placeOrder',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                alert(response)
                if(response.status){
                    location.href='/placeOrder/order-success'
                }else{
                    if(response.mode == "paypal"){
                        console.log(response.url)
                        location.href = response.url
                    }
                    else{
                        alert("ueppp")
                         razorpay(response.response)
                    }
                    
                }
            }
        })
    })
    
    function razorpay(order){
        
        var options = {
            "key": "rzp_test_nUVcKdOUWrUXIZ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)

                verifyPayment(response,order);
            },
            "prefill": {
                "name": "Outfits",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();

    }

    function verifyPayment(payment,order){
        $.ajax({
            url:'/placeOrder/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href = '/placeOrder/order-success';
                }
                else{
                    alert(response.status);
                    location.href = '/'
                }
            }
          
        })
    }

    function checkButton(){
        var getSelectedValue = document.querySelector( 'input[name="address"]:checked');   
        if(getSelectedValue == null) {   
           
        alert("Selected radio button values is null: ");  
         return false;
        
        } 
    }

    function changeStatus(){
        var nodes = document.getElementById("address1").getElementsByTagName('*');
        for(var i = 0; i < nodes.length; i++){
        nodes[i].disabled = true;
        nodes[i].hidden = true;
        }
    }

     function changeStatusTo(){
        var nodes = document.getElementById("address1").getElementsByTagName('*');
        for(var i = 0; i < nodes.length; i++){
        nodes[i].disabled = false;
        nodes[i].hidden = false;
        }
    }

    
    $("#couponButton").click((e)=>{
    
        e.preventDefault()
        $.ajax({
            
            url:'/offerManagement/couponCheck',
            method:'post',
            data:$('#couponCheck').serialize(),
            success:(resp)=>{
         
                if(resp.statuss){
                    document.getElementById("couponErr").textContent = resp.msg
                    document.getElementById("hidden1").style.visibility = "visible"
                    document.getElementById("hidden2").style.visibility = "visible"
                    document.getElementById("offerDiscount").textContent = -resp.coupon.discount
                    document.getElementById("subTotal").textContent = resp.subTotal
                    document.getElementById("total").textContent = resp.totalAmount
                    
                }else{
                    document.getElementById("couponErr").textContent = resp.msg
                }
            }
        })
    })
      

</script>
