<!-- Page Loader -->
<div id="pre-loader"><img src="assets/images/loader.gif" alt="Loading..." /></div>
<!-- End Page Loader -->

<div class="pageWrapper">
    <!-- Promotion Bar -->

    <!-- End Mobile Menu -->

    <!-- Body Content -->
    <div id="page-content">
        <!--Page Title-->
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper">
                    <h1 class="page-width">Wish List</h1>
                </div>
            </div>
        </div>
        <!--End Page Title-->

        <div class="container">
            <div class="row">
                {{#if product}}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                    <form action="#">
                        <div class="wishlist-table table-content table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-name text-center alt-font">Remove</th>
                                        <th class="product-price text-center alt-font">Images</th>
                                        <th class="product-name alt-font">Product</th>
                                        <th class="product-price text-center alt-font">Unit Price</th>
                                        <th class="stock-status text-center alt-font">Stock Status</th>
                                        <th class="product-subtotal text-center alt-font">Add to Cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each product}}
                                    <tr id="{{this.wishlistProducts._id}}"> 
                                        <td class="product-remove text-center"><a 
                                                onclick="removeWishlist('{{this.wishlistProducts._id}}')"><i
                                                    class="icon an an-times" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Remove"></i></a></td>
                                        <td class="product-thumbnail text-center">
                                            <a href="/productShow/{{this.wishlistProducts._id}}"><img
                                                    src="/product-images/{{this.wishlistProducts._id}}image1.jpg" alt=""
                                                    title="" /></a>
                                        </td>
                                        <td class="product-name">
                                            <h4 class="no-margin"><a
                                                    href="/productShow/{{this.wishlistProducts._id}}">{{this.wishlistProducts.productname}}</a>
                                            </h4>
                                        </td>
                                        <td class="product-price text-center"><span
                                                class="amount">{{this.wishlistProducts.productprice}}</span></td>
                                        <td class="stock text-center">
                                            {{#if this.outofstock}}
                                            <span class="out-stock">out of stock</span>
                                            {{else}}
                                            <span class="in-stock">in stock</span>
                                            {{/if}}

                                        </td>
                                        <td class="product-subtotal text-center"><a href="/cart/cart-add/{{this.wishlistProducts._id}}"
                                                class="btn btn-dark">Move To Cart</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                {{else}}
                <div class="container">
                    <div class="row">
                        <!-- Main Content -->
                        <div class="col-sm-12 text-center empty-page mb-5">
                            <i class="icon an an-heart"></i>
                            <h2>Wishlist is empty!</h2>
                            <p class="mb-3 pb-1">No products were added to the Wish List.</p>
                            <a href="/" class="btn btn-primary">continue shopping</a>
                        </div>
                        <!-- End Main Content -->
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
    <!-- End Body Content -->

    <!-- Footer -->
    
    <!-- End Footer -->

    <!-- Scoll Top -->
    <div id="site-scroll"><i class="icon an an-angle-up"></i></div>
    <!-- End Scoll Top -->

    <!-- Minicart Drawer -->
    
    <!-- End Minicart Drawer -->


    <!-- Including Javascript -->
    <!-- Plugins JS -->


</div>



<script>
    function removeWishlist(proId) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/wishlist/remove",
                        type: "POST",
                        data: {
                            
                            product: proId
                        },

                        success: async (response) => {
                            if (response.status) {
                                if(response.check){
                                await swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                                     
                                 location.reload()
                                }else{

                                $('#' + proId).remove()
                                swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                                }


                            }


                        },

                    });

                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }
</script>